<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlowerLabel</key>
	<dict>
		<key>0</key>
		<string>紫罗兰</string>
		<key>9</key>
		<string>栀子花</string>
		<key>2</key>
		<string>狗尾巴草</string>
		<key>4</key>
		<string>玫瑰花</string>
		<key>3</key>
		<string>荷花</string>
		<key>8</key>
		<string>樱花</string>
		<key>7</key>
		<string>桃花</string>
		<key>6</key>
		<string>昙花</string>
		<key>5</key>
		<string>牡丹花</string>
		<key>1</key>
		<string>茶花</string>
	</dict>
	<key>FlagLabel</key>
	<dict>
		<key>9</key>
		<string>越南</string>
		<key>8</key>
		<string>英国</string>
		<key>7</key>
		<string>意大利</string>
		<key>6</key>
		<string>葡萄牙</string>
		<key>5</key>
		<string>美国</string>
		<key>4</key>
		<string>加拿大</string>
		<key>3</key>
		<string>德国</string>
		<key>2</key>
		<string>巴西</string>
		<key>1</key>
		<string>澳大利亚</string>
		<key>0</key>
		<string>中国</string>
	</dict>
	<key>FruitLabel</key>
	<dict>
		<key>0</key>
		<string>菠萝</string>
		<key>1</key>
		<string>胡桃</string>
		<key>2</key>
		<string>火龙果</string>
		<key>3</key>
		<string>芒果</string>
		<key>4</key>
		<string>木瓜</string>
		<key>5</key>
		<string>葡萄</string>
		<key>6</key>
		<string>蛇果</string>
		<key>7</key>
		<string>杨梅</string>
		<key>8</key>
		<string>杨桃</string>
		<key>9</key>
		<string>樱桃</string>
	</dict>
	<key>StarLabel</key>
	<dict>
		<key>0</key>
		<string>陈奕迅</string>
		<key>1</key>
		<string>成龙</string>
		<key>2</key>
		<string>黄家驹</string>
		<key>3</key>
		<string>李连杰</string>
		<key>4</key>
		<string>林志玲</string>
		<key>5</key>
		<string>刘德华</string>
		<key>6</key>
		<string>刘亦菲</string>
		<key>7</key>
		<string>孙燕姿</string>
		<key>8</key>
		<string>谢霆锋</string>
		<key>9</key>
		<string>张柏芝</string>
	</dict>
</dict>
</plist>
